// Minimum screen size for Interpolete: 320px;
// Maximum screen size for Interpolete: 1440px;

$max-width-container: 90rem;
$p-container: 4rem;

/*  |> BREAKPOINTS BOOSTRAP
——————————————————————————————————————————————————————*/
$bp-sm: 36em;
$bp-md: 48em;
$bp-lg: 64rem;
$bp-xl: 80rem;
$bp-xxl: 90rem;

/*  |> OTHERS
——————————————————————————————————————————————————————*/

$enable-button-pointers: true !default;
$enabled_spacing_utilities: false !default;

$kbd-padding-y: .5rem;
$kbd-padding-x: .5rem;
$kbd-color: grey;
$kbd-bg: white;

:root {
    @include rfs('--p-container', 2rem, 4rem); //Padding Container
    --max-width-container: #{$max-width-container};

    /*
    ——— Transition duration time
    */
    --g-trans: .3s;

    /*
    ——— Border radius
    */

    --g-br: 15px;

    /*
    ——— Box Shadow
    */

    --g-shadow: 0 0 11px rgba(0, 0, 0, 0.15);

    /*
    ——— Fonts
    */

    //Body, paragraphs, buttons
    --ff-primary: "Lato", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    //Headings
    --ff-secondary: "Arvo", Garamond, serif;
    --ff-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --body-font-size: 1rem;
    --body-line-height: 1.5;

    /*
    ——— Colors
    */
    --c-primary: #011045;
    --c-secondary: #871876;
    --c-accent: #86BC25;

    --c-primary-dark: #020A29;
    --c-secondary-dark: #610552;
    --c-accent-dark: #406105;

    --c-primary-light: #E0E5EB;
    --c-secondary-light: #EBE0E9;
    --c-accent-light: #E7EBE0;

    --c-body-primary: var(--c-primary);
    --c-body-secondary: #6A6A6A;

    --c-body-bg: white;

    /*
    ——— HR
    */
    --hr-color: grey;
    --hr-opacity: 1;

    /*
    ——— Mark
    */
    --mark-padding: .5rem;
    --mark-bg: yellow;

    /*
    ——— Links
    */
    --link-color: var(--c-primary);
    // --link-decoration: var(--c-primary-dark);
    --link-hover-color: var(--c-secondary);
    // --link-hover-decoration: var(--c-secondary-dark);

    /*
    ——— Font sizes
    */
    @include rfs("--fs-1", 1rem, 1.125rem);
    @include rfs("--fs-2", 1.125rem, 1.25rem);
    @include rfs("--fs-3", 1.25rem, 1.5rem);
    @include rfs("--fs-4", 1.5rem, 2rem);
    @include rfs("--fs-5", 1.625rem, 2.5rem);
    @include rfs("--fs-6", 2rem, 3rem);
    @include rfs("--fs-7", 2rem, 3.5rem);
    @include rfs("--fs-hero", 2rem, 4rem);

    /*
    ——— Spacing
    */
    @include rfs("--sp-40", 2rem, 2.5rem); //40px
    @include rfs("--sp-64", 2rem, 4rem); //64px
    @include rfs("--sp-80", 2.5rem, 5rem); //80px
    // @include rfs("--sp-120", 2.5rem, 7.5rem); //120px
    // @include rfs("--sp-160", 2.5rem, 10rem); //160px
}