html {
    scroll-behavior: smooth;
}

a, p, h1, h2, h3, h4, h5, h6 {
    line-height: calc(1em + .5rem);
}

@media screen and (max-width: $boo-sm) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


/* ● LAZYLOAD SCRIPT ❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱ */

img.lazy {
    opacity: 0;
}

img:not(.initial) {
    transition: opacity 1s;
}

img.initial,
img.loaded,
img.error {
    opacity: 1;
}

img:not([src]) {
    visibility: hidden;
}