:root {
	--max-width-container: 1440px;
	--sp-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--sp-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--sp-body-font-size: 1rem;
	--sp-body-line-height: 1.5;
	--sp-body-color: black;
	--sp-body-bg: white;
	--sp-hr-color: grey;
	--sp-hr-opacity: 1;
	--sp-mark-padding: .5rem;
	--sp-mark-bg: yellow;
	--sp-link-color: #007bff;
	--sp-link-decoration: #007bff;
	--sp-link-hover-color: #0056b3;
	--sp-link-hover-decoration: #0056b3;
}