/* ●●● BREAKPOINTS BOOSTRAP
❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱ */

$boo-sm: 576px;
$boo-md: 768px;
$boo-lg: 992px;
$boo-xl: 1200px;

/* ●●● OTHERS
❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱ */

$enable-button-pointers: true !default;

$kbd-padding-y: .5rem;
$kbd-padding-x: .5rem;
$kbd-color: grey;
$kbd-bg: white;