:root {
    --icon-settings: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-gear-fill' viewBox='0 0 16 16'%3E%3Cpath d='M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z'/%3E%3C/svg%3E");
}
.icon-acf {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 22px;
    height: 15px;
    display: inline-block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    transform: scale(1.3) translate(0px, 3px);
}

.icon-settings {
    background-image: var(--icon-settings)
}

/* Hidden label field */
.hidden-label-acf > .acf-label{
    display: none;
}

.acf-flexible-content .values .layout .acf-fc-layout-handle {
    color: #0a5992!important;
    text-transform: uppercase;
    font-size: 1rem!important;
    font-weight: 700;
    padding-left: 4.2rem;
    position: relative;
    background: #fbf3e9;
    letter-spacing: .1rem;
}

.acf-flexible-content .values .layout .acf-fc-layout-order {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #fda300;
    color: #805200;
    width: 50px;
    border-radius: 0 10px 10px 0;
    letter-spacing: 0;
}

.acf-flexible-content .values .layout:nth-child(odd) > .acf-fc-layout-handle {
    background: #eaf4fb;
}

.acf-flexible-content .values .acf-field .acf-label {
    font-size: 1rem;
    color: #165892;
}

.acf-flexible-content .acf-fields>.acf-field {
    padding: 40px 32px;
}

.acf-flexible-content .acf-field input[type="text"],
.acf-flexible-content .acf-field input[type="password"],
.acf-flexible-content .acf-field input[type="date"],
.acf-flexible-content .acf-field input[type="datetime"],
.acf-flexible-content .acf-field input[type="datetime-local"],
.acf-flexible-content .acf-field input[type="email"],
.acf-flexible-content .acf-field input[type="month"],
.acf-flexible-content .acf-field input[type="number"],
.acf-flexible-content .acf-field input[type="search"],
.acf-flexible-content .acf-field input[type="tel"],
.acf-flexible-content .acf-field input[type="time"],
.acf-flexible-content .acf-field input[type="url"],
.acf-flexible-content .acf-field input[type="week"],
.acf-flexible-content .acf-field textarea,
.acf-flexible-content .acf-field select {
    border-radius: 0!important;
    border-color: #58b4ff;
    padding: 10px 17px;
}

.acf-flexible-content .select2-container.-acf .select2-selection{
    border-color: #58b4ff;
    padding: 10px 0 10px 17px;
    height: auto;
    border-radius: 0!important;
}

.acf-flexible-content .acf-url i{
    transform: translateY(-50%);
    top: 50%;
}

.acf-flexible-content .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:1.4!important;
}

.acf-flexible-content .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 50%;
    transform: translateY(-50%);
}

/* Selection Multiple */


.acf-flexible-content .select2-container--default .select2-selection--multiple{
    padding: 0!important;
}

/* Tab Group general */

.acf-tab-group{
    background:ghostwhite;
}

.acf-tab-group > li a{
    border-bottom: 1px solid white;
    
    padding-right: 2rem!important;
    padding-left: 2rem!important;

    border-radius: 5px 5px 0 0;
    background: white;
}

/* Tab group main */
.acf-flexible-content > .values > .layout:nth-child(odd)  > .acf-fields > .acf-tab-wrap > .acf-tab-group{
    background:#edf3f7;
}

.acf-flexible-content > .values > .layout:nth-child(even)  > .acf-fields > .acf-tab-wrap > .acf-tab-group{
    background:#f6f3ef;
}
/* Tab Group inside */
.acf-flexible-content > .values > .layout  > .acf-fields .acf-flexible-content .acf-tab-group{
    background: #f9f9f9!important;
    display: flex;
    /* justify-content: flex-end; */
}

.acf-flexible-content > .values > .layout  > .acf-fields .acf-flexible-content .acf-tab-group li{

}

.acf-flexible-content > .values > .layout  > .acf-fields .acf-flexible-content .acf-tab-group li a{
    font-size: 0.8rem;
    line-height: 1.2
}

.acf-flexible-content > .values > .layout  > .acf-fields .acf-flexible-content .acf-tab-group .icon-acf{
    height: 12px;
    transform: scale(1.3) translate(0px, 2px);
}

.column-group-acf > .acf-input > .acf-fields {
    border: none!important;
}

.column-group-acf > .acf-input > .acf-fields  > .acf-field:first-child{
    padding: 0!important;
}