:root {
    --icon-settings: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-gear-fill' viewBox='0 0 16 16'%3E%3Cpath d='M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z'/%3E%3C/svg%3E");
    --c-acf-primary: #165892;
    --c-acf-primaryMed: #58b4ff;
}
.icon-acf {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 22px;
    height: 15px;
    display: inline-block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    transform: scale(1.3) translate(0px, 3px);
}

.icon-settings {
    background-image: var(--icon-settings)
}

/* Hidden label field */
.hidden-label-acf > .acf-label{
    display: none;
}

.column-group-acf > .acf-input > .acf-fields {
    border: none!important;
}

.column-group-acf > .acf-input > .acf-fields  > .acf-field:first-child{
    padding: 0!important;
}

/*  |> General styles
——————————————————————————————————————————————————————*/


.acf-field .acf-label {
    font-size: 1rem!important;
    color: var(--c-acf-primary)!important;
}

.acf-fields>.acf-field {
    padding: 40px 32px!important;
}

.acf-input:not(.acf-accordion-content){
    display: flex!important;
}

.acf-input-prepend, .acf-input-append{
    display: flex!important;
    align-items: center!important;
}

.acf-input-append{
    order: 12;
}

.acf-input > *:not(.acf-button-group):last-child{
    /* display: flex!important; */
    flex-basis: 0;
    flex-grow: 1;
}

.acf-field .acf-input-wrap{
    overflow: visible;
}

.acf-field input[type="text"],
.acf-field input[type="password"],
.acf-field input[type="date"],
.acf-field input[type="datetime"],
.acf-field input[type="datetime-local"],
.acf-field input[type="email"],
.acf-field input[type="month"],
.acf-field input[type="number"],
.acf-field input[type="search"],
.acf-field input[type="tel"],
.acf-field input[type="time"],
.acf-field input[type="url"],
.acf-field input[type="week"],
.acf-field textarea,
.acf-field select {
    border-radius: 0!important;
    border-color: var(--c-acf-primaryMed)!important;
    padding: 10px 17px!important;
    outline: 2px solid transparent;
    transition: .6s all ease-in-out;

}

.acf-field input[type="text"]:focus,
.acf-field input[type="password"]:focus,
.acf-field input[type="date"]:focus,
.acf-field input[type="datetime"]:focus,
.acf-field input[type="datetime-local"]:focus,
.acf-field input[type="email"]:focus,
.acf-field input[type="month"]:focus,
.acf-field input[type="number"]:focus,
.acf-field input[type="search"]:focus,
.acf-field input[type="tel"]:focus,
.acf-field input[type="time"]:focus,
.acf-field input[type="url"]:focus,
.acf-field input[type="week"]:focus,
.acf-field textarea:focus,
.acf-field select:focus {
    border-color: var(--c-acf-primary)!important;
    border-width: 1px!important;
    outline: 2px solid var(--c-acf-primary)!important;
}

.select2-container.-acf .select2-selection{
    border-color: var(--c-acf-primaryMed)!important;
    padding: 10px 1rem!important;
    height: auto!important;
    border-radius: 0!important;
}

.acf-url i{
    transform: translateY(-50%)!important;
    top: 50%!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:1.4!important;
    padding-left: 0!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 50%!important;
    transform: translate(-8px, -50%)!important;
}

.acf-field textarea{
    transition: .6s border-color, .6s border-width, .6s outline!important;
}

/* Selection Multiple */

.select2-container--default .select2-selection--multiple{
    padding: 0!important;
}

/* Tab Group general */

.acf-tab-group{
    background:ghostwhite;
}

.acf-tab-group > li a{
    border-bottom: 1px solid white;

    padding-right: 2rem!important;
    padding-left: 2rem!important;

    border-radius: 5px 5px 0 0;
    background: white;
}

/* Repeaters */

.acf-table tr:nth-child(odd) > td:first-child, .acf-table tr:nth-child(even) > td:first-child{
    color: var(--c-acf-primary)!important;
    font-size: 1rem!important;
    font-weight: bold;
}

.acf-table tr:nth-child(odd) > td:first-child, .acf-table tr:nth-child(odd) > td:last-child{
    background: #eaf4fb;
}

.acf-table tr:nth-child(even) > td:first-child, .acf-table tr:nth-child(even) > td:last-child{
    background: #fbf3e9;
}

/* Range */

.acf-range-wrap input[type=number]{
    min-width: 6em!important;
}

/* Select AJAX */

.select2-container.-acf .select2-selection--multiple .select2-search__field{
    width: 0.75em!important;
    padding: 0!important;
    outline: none!important;
}

.select2-container.-acf .select2-selection--multiple .select2-search__field:focus{
    border-bottom: 2px solid var(--c-acf-primary);
}

/* Checkbox */

.acf-field input[type="checkbox"]{
    border-radius: 0!important;
    --size: 18px;
    width: var(--size)!important;
    height: var(--size)!important;
}

.acf-field input[type=checkbox]:checked::before{
    margin: -2px 0 0 -3px!important;
}

/* Colorpicker */

.acf-color-picker .wp-picker-container input[type=text].wp-color-picker{
    width: 6rem!important;
    text-align: center;
    line-height: 0;
    padding: 0!important;
}

/* Acordion */

.acf-label.acf-accordion-title{
    padding: 1rem 2rem!important;
}

.acf-label.acf-accordion-title::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 11px;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    background: #135e96;
    border-radius: 20px;
}

.acf-accordion .acf-accordion-title svg.acf-accordion-icon{
    right: 1.6rem!important;
}

.acf-accordion .acf-accordion-title label{
    font-size: 1rem!important;
    text-transform: uppercase!important;
}

/* append and prepend */

.acf-input-prepend, .acf-input-append{
    border-radius: 0!important;
    border-color: var(--c-acf-primaryMed)!important;
    background: #f0f6ff!important;
}


/*  |> Flexible Content
——————————————————————————————————————————————————————*/

.acf-flexible-content .values .layout .acf-fc-layout-handle {
    color: var(--c-acf-primary)!important;
    text-transform: uppercase;
    font-size: 1rem!important;
    font-weight: 700;
    padding-left: 4.2rem;
    position: relative;
    background: #fbf3e9;
    letter-spacing: .1rem;
}

.acf-flexible-content .values .layout .acf-fc-layout-order {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #fda300;
    color: #805200;
    width: 50px;
    border-radius: 0 10px 10px 0;
    letter-spacing: 0;
}

.acf-flexible-content .values .layout:nth-child(odd) > .acf-fc-layout-handle {
    background: #eaf4fb;
}


/* Tab group main */
.acf-flexible-content > .values > .layout:nth-child(odd)  > .acf-fields > .acf-tab-wrap > .acf-tab-group{
    background:#edf3f7;
}

.acf-flexible-content > .values > .layout:nth-child(even)  > .acf-fields > .acf-tab-wrap > .acf-tab-group{
    background:#f6f3ef;
}
/* Tab Group inside */
.acf-flexible-content > .values > .layout  > .acf-fields .acf-flexible-content .acf-tab-group{
    background: #f9f9f9!important;
    display: flex;
    /* justify-content: flex-end; */
}

.acf-flexible-content > .values > .layout  > .acf-fields .acf-flexible-content .acf-tab-group li{

}

.acf-flexible-content > .values > .layout  > .acf-fields .acf-flexible-content .acf-tab-group li a{
    font-size: 0.8rem;
    line-height: 1.2
}

.acf-flexible-content > .values > .layout  > .acf-fields .acf-flexible-content .acf-tab-group .icon-acf{
    height: 12px;
    transform: scale(1.3) translate(0px, 2px);
}

.acf-accordion.-open > .acf-accordion-content{
    display: block!important;
}

/* <- ___________________________________________ ->  */

#collapse-style-group{
    padding: 0 !important;
}

#collapse-style-group > .acf-label{
    display: none;
}

#collapse-style-group > .acf-input > *{
    border: none;
}