html {
    scroll-behavior: smooth;
}

.container,
.container-fluid {
    max-width: var(--max-width-container);

    &.narrow {
        max-width: 1100px;
    }

    @include m_query($max-width-container + ($p-container * 2)) {
        padding-left: var(--p-container);
        padding-right: var(--p-container);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-secondary);
    font-weight: 700;
    line-height: calc(1em + 0.5rem);
    margin-bottom: 1em;
}

a,
p {
    // line-height: 1.2;
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

a {
    // img {
    //     transition: var(--g-trans) filter;
    // }

    @include hover {
        img {
            filter: brightness(.8);
        }
    }
}

.site {
    // overflow: hidden;
}

.site-main{
    min-height: 50vh;
}


/*  |> BASIC STYLES CONTENT STRUCTURE
——————————————————————————————————————————————————————*/

h1 {
    font-size: var(--fs-7);
}

h2 {
    font-size: var(--fs-6);
}

h3 {
    font-size: var(--fs-5);
}

/*  |> LAZYLOAD SCRIPT
——————————————————————————————————————————————————————*/

img.lazy {
    opacity: 0;
}

img:not(.initial) {
    transition: opacity 1s, filter var(--g-trans);
}

img.initial,
img.loaded,
img.error {
    opacity: 1;
}

img:not([src]):not([srcset]) {
    visibility: hidden;
}

/*  |> BUTTONS
——————————————————————————————————————————————————————*/

.btn {
    text-decoration: none;
    font-weight: 700;
    padding: 0.6rem 1.5rem;
    border: 2px solid transparent;
    font-size: 14px;
    position: relative;
    display: inline-block;
    text-align: center;
    transition-duration: var(--g-trans);
    transition-property: background, border, color;
    // text-transform: uppercase;
    // letter-spacing: 2px;

    @include hover() {
        color: initial;
    }

    @include m_query($boo-sm) {
        padding: 0.4rem 1rem;
        // letter-spacing: 1px;
    }

    /* Icon for button */

    // &::before {
    // 	--size: 12px;
    // 	content: '';
    // 	position: absolute;
    // 	top: 50%;
    // 	right: 1.5rem;
    // 	width: var(--size);
    // 	height: var(--size);
    // 	transform: translate(0, -50%);
    // 	background-image: var(--icon-arrow);
    // 	background-repeat: no-repeat;
    // 	background-size: contain;
    // 	filter: invert(1);

    // 	@include m_query($boo-sm) {
    // 		right: 1rem;

    // 	}
    // }

    &--primary {
        background: var(--c-primary);
        color: white;

        @include hover() {
            background: var(--c-primary-dark);
            color: white;
        }
    }

    &--secondary {
        background: var(--c-secondary);
        color: white;

        @include hover() {
            background: var(--c-secondary-dark);
            color: white;
        }
    }

    &--outline {
        &.btn--primary {
            border: 2px solid var(--c-primary);
            background: transparent;
            color: var(--c-primary);

            @include hover() {
                background: var(--c-primary);
                color: white;
            }
        }

        &.btn--secondary {
            border: 2px solid var(--c-secondary);
            background: transparent;
            color: var(--c-secondary);

            @include hover() {
                background: var(--c-secondary);
                color: white;
            }
        }
    }
}

/*  |> BACKGROUND COMPONENTS
——————————————————————————————————————————————————————*/

[data-bg="c-primary"]{
    background-color: var(--c-primary);
    color: white;
}

[data-bg="c-secondary"]{
    background-color: var(--c-secondary);
    color: white;
}