/* ●●● CSS RESET
❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱ */

@import "_base/reboot";

/* ●●● BASIC GRID - Inspired in Bootstrap
❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱ */

@import "_base/grid-layout";

html {
    /* CSS custom property for the polyfill */
    --scroll-behavior: smooth;

    /* Normal CSS property for browsers with native support */
    scroll-behavior: smooth;
}

/* ●●● UTILITIES
❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱❱ */

.position-relative {
    position: relative !important;
}

.position-static {
    position: static !important;
}

/* ->  ALIGN ELEMENTS WITH FLEX */

.cent-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cent-x {
    display: flex;
    justify-content: center;
}

.cent-y {
    display: flex;
    align-items: center;
}